{% if message %}
    <div id="message-{{ message.id }}" class="message">
        <div class="popover popover-static {% if message.from.id == user.id %}left popover-static-left{% else %}right popover-static-right{% endif %}">
            <div class="arrow"></div>
            <h3 class="popover-title">
                <span class="pull-right">
                    {{ message.createdAt|date('d/m H:i:s') }}
                </span>
                {{ message.from.username }}
            </h3>
            <div class="popover-content">
                <p>{{ message.content }}</p>
            </div>
        </div>
    </div>
{% endif %}
