/*#popups {*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 285px;*/
/*}*/

.popup-container {
    margin: 0 20px 0 0;
    position: relative;
    bottom: 285px;
    width: 260px;
    height: 285px;
    display: inline-block;
    float: right;
}

.popup-container .messages {
    height: 190px;
    overflow: auto;
}

.popup {
    margin-bottom: 0;
}

.popup .panel-heading {
    cursor: pointer;
}

.label.contact-label-status.online {
    background-color: #5cb85c;
}