#popups {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 285px;
}

.popup-container {
    margin: 0 20px 0 20px;
    position: relative;
    bottom: 0;
    width: 260px;
    height: 285px;
    display: inline-block;
    float: right;
}

.popup-container .messages {
    height: 190px;
}

.label.contact-label-status.online {
    background-color: #5cb85c;
}