.contacts {
    max-height: 400px;
    overflow-y: auto;
}

.tab-pane {
    height: 400px;
    max-height: 400px;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-content .messages {
    min-height: 244px;
    overflow-y: auto;
}