.contacts {
    max-height: 400px;
    overflow-y: auto;
}

.contacts .contact.online p {
    color: #5cb85c;
}

.tab-pane {
    height: 400px;
    max-height: 400px;
    display: none;
}

.tab-pane.active {
    display: block;
}

.label.contact-label-status.online {
    background-color: #5cb85c;
}

.tab-content .messages {
    height: 258px;
    overflow-y: auto;
}